<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/iCheck/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/toastr/toastr.min.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <style>
                body{
                    /*color: #444;*/
                }
            </style>

        {% endblock %}
    </head>
    <body>

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">{{ app.user.name }} {{ app.user.lastname }}</span>
                                <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span> </a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">Documents</span> </a>
                        <ul class="nav nav-second-level collapse">
                            <li class="">
                                <a href="{{ path('document.add') }}">Add document</a>
                            </li>
                            <li class="">
                                <a href="{{ path('document.list') }}">Documents list</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="#">

                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="{{ path('app_logout') }}">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            <div class="row wrapper border-bottom white-bg page-heading m-t-md">
                <div class="col-md-8">
                    <h2 class="m-b-none">{{ pagename }}</h2>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="wrapper wrapper-content">

                    <div class="row">


                        {% block body %}{% endblock %}
                        {% block javascripts %}{% endblock %}


                    </div>
                </div>
            </div>

    </body>

    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/touchpunch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/js/inspinia.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/toastr/toastr.min.js') }}"></script>

    {% for message in app.flashes('success') %}
        <script>
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.success("{{ message }}");
        </script>
    {% endfor %}
</html>
