{% extends 'base.html.twig' %}

{% block title %}Add Document{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




         <div class="col-md-6 col-lg-6 no-paddings">
             {{ form_start(form) }}
            <div class="ibox ">
               <div class="ibox-title">
                  <h3>Document details</h3>
               </div>
               <div class="ibox-content">

                   {{ form_row(form.name) }}
                   {{ form_row(form.number) }}
                   {{ form_row(form.documentType) }}
                   {{ form_row(form.attachment) }}
                   {{ form_row(form.description) }}

               </div>
               <div class="ibox-footer">
                  <a href="{{ path('document.list') }}" class="btn btn-white ">Anuluj</a>
                  <button type="submit" class="btn btn-primary">Save</button>
               </div>

                {{ form_end(form) }}
         </div>

      </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/main.js') }}"></script>

{% endblock %}